
.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #333;
    padding-top: 20px;
}

.home h2{
    width: 100%;
    text-align: center;
    margin: 0px 0px 20px 0px;
    color: #ddd;
}

.board{
    width: 210px;
    height: 210px;
    margin: 20px auto 50px auto;
}

.board input{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    line-height: 50px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}

.board button{
    margin-top: 5px;
}

.results_box{
    width: 200px;
    height: 500px;
    color: #eee;
    margin: 0 auto;
}

.results{
    width: 200px;
    height: 450px;
    font-size: 14px;
    border: 1px solid black;
    padding: 5px 5px;
    overflow: scroll;
    background: white;
    color: black;
}

